<!-- aside principal  -->

<aside>
    <div class="aside_text">
    <h2>¿Qué estás buscando?</h2>
    <a href="https://www.wework.com/es-LA/solutions">Ver todas las soluciones <img class="arrow" src="https://icones.pro/wp-content/uploads/2021/06/icone-fleche-droite-violet.png"> </a>
    </div>

<div class="aside_cart_container">

    <a href="https://www.wework.com/es-LA/solutions/wework-all-access">
    <div class="aside_cart">
<img src="https://ctfassets.imgix.net/vh7r69kgcki3/3j9aqbBpEAl7GYPX1CbAIo/6ee0f13d82cc6e1ad53b5affb75d30ab/Hot_Desks_274x274.png?auto=format%20compress&fit=crop&q=50&w=100&h=100"  class="aside_cart_img" alt="desks">

<div class="aside_cart_text">
<p class="aside_cart_title">Membresia de coworking</p>
<p class="aside_cart_description">Hot desks, salas, cabinas telefonicas y mas</p>
<p class="aside_cart_icon">Más de 1</p>
</div>
</div>
</a>


<a href="https://www.wework.com/es-LA/solutions/private-office-space">
<div class="aside_cart">
    <img src="https://ctfassets.imgix.net/vh7r69kgcki3/UXP1XHGUaziQtFAGuMCZx/e3b5a6c56456da4f290c18426eb84c1a/Private_Office_274x274.png?auto=format%20compress&fit=crop&q=50&w=100&h=100"  class="aside_cart_img" alt="desks">

    <div class="aside_cart_text">
    <p class="aside_cart_title">Oficina Privada</p>
    <p class="aside_cart_description">Oficinas, listas con amenidades compartidas</p>
    <p class="aside_cart_icon">Más de 1</p>
    </div>
    </div>
    </a>

    <a href="https://www.wework.com/es-LA/solutions/office-suite">
    <div class="aside_cart">
        <img src="https://ctfassets.imgix.net/vh7r69kgcki3/3UdjOaiPRb734SnJ8ApLUk/b9455393017cfe8916d722ea17b639e9/Office_Suite_1440x1440.png?auto=format%20compress&fit=crop&q=50&w=100&h=100"  class="aside_cart_img" alt="desks">

        <div class="aside_cart_text">
        <p class="aside_cart_title">Executive Office</p>
        <p class="aside_cart_description">Oficinas de primer nivel con amenidades privadas</p>
        <p class="aside_cart_icon">Más de 1</p>
        </div>
        </div>
</a>

<a href="https://www.wework.com/es-LA/solutions/meeting-rooms?capacity=1">
        <div class="aside_cart">
            <img src="https://ctfassets.imgix.net/vh7r69kgcki3/35qhYMr0wIJvd2o5MAuSHd/c45139bad5decb1cf980735f9f632a05/Meeting_Small_274x274.png?auto=format%20compress&fit=crop&q=50&w=100&h=100"  class="aside_cart_img" alt="desks">

            <div class="aside_cart_text">
            <p class="aside_cart_title">Sala de reuniones</p>
            <p class="aside_cart_description">Salas privadas que se pueden reservar por hora</p>
            <p class="aside_cart_icon">Más de 1</p>
            </div>
            </div>
</div>
</a>

<!-- aside 2 -->

<div class="container_aside_2">

<div >
    <img src="https://ctfassets.imgix.net/vh7r69kgcki3/QGZypVuPUMCRIaXaQ3mOM/84ce490cd89ea03927e546bc5ccb1c49/Web_150DPI-20210825_WeWork_-_5_Temasek_Blvd_-_Suntec_Tower_S_-_Singapore_010.jpg?auto=format%20compress&fit=crop&q=50&w=600&h=338" alt="oficinas">
</div>

<div>
    <h2 class="aside_h2">PRECIO INICIAL</h2>
    <p class="aside_black">Obtén un 25% de descuento en el plan WeWork All Access Plus con esta oferta especial</p>
    <p class="aside_grey">Accede a espacios de trabajo cerca de ti con un descuento del 25 % en la cuota del plan de membresía mensual Plus de WeWork All Access durante 5 meses. Se aplican términos y condiciones.</p>
    <a href="https://www.wework.com/es-LA/solutions/wework-all-access">Obtén mas información<img class="arrow" src="https://icones.pro/wp-content/uploads/2021/06/icone-fleche-droite-violet.png"> </a>
</div>

</div>

<!-- aside 3  -->

<div class="container_aside_3">

    <div>
        <p class="aside_black">Soluciones para empresas de todos los tamaños</p>
        <div class="violet">
        <a class="active" href="https://www.wework.com/es-LA/solutions/wework-all-access">Para particulares/equipos pequeños</a>
                  <a href="https://www.wework.com/es-LA/solutions/wework-all-access">Para empresas medianas/grandes</a>
        </div>
                  <p class="aside_grey">Membresías flexibles y oficinas llave en mano que se adaptan a todos los presupuestos y estrategias híbridas. Encuentra espacio para concentrarte y colaborar en cientos de ubicaciones cerca de tu casa o en diferentes partes del mundo.</p>
                  <a href="https://www.wework.com/es-LA/solutions/wework-all-access">Obtén mas información</a>
    </div>

    <div >
        <img src="https://ctfassets.imgix.net/vh7r69kgcki3/3JmE8nqDzhWqtltmCZxk9s/6f1486080c47f60696fc2ff5bc3b12bf/Web_150DPI-20221216_WeWork_Product_Shoot_Q4_15.jpg?auto=format%20compress&fit=crop&q=50&w=1050&h=1400" alt="oficinas">
    </div>

    </div>


    <div class="aside_4_background">



            <div class="aside4_card">

                <form>
                <h3>Te ayudamos a encontrar tu espacio de trabajo ideal</h3>
                <p>Completa el formulario y un miembro del equipo de WeWork se pondrá en contacto contigo a la brevedad</p>

<div class="input">
                 <input placeholder="Nombre completo *">
                 <input placeholder="Correo electrónico *">
                 <input placeholder="Nombre de la empresa *">
                 <input placeholder="Número de teléfono *"">
                 <input placeholder="ubicacion">
                 <input placeholder="Cuantas personas necesitan un espacio">
</div>

             <p class="aside_4_p">Al hacer clic en el botón a continuación, aceptas nuestras <a href="">Condiciones de servicio</a> y nuestra <a href="">Politica de privacidad global</a></p>
             <button class="button_aside_4">Enviar</button>
            </form>



</aside>