<footer>

    <div class="container__footer">

        <div class="container_box_footer">
        <div class="box__footer">
            <h2>EMPRESA</h2>
            <a href="https://www.google.com">Ubicaciones alrededor del mundo</a>
            <a href="#">Misión</a>
            <a href="#">Inclusión y diversidad</a>
            <a href="#">Oportunidades de empleo</a>
            <a href="#">Inversores</a>
            <a href="#">Sala de redacción</a>
            <a href="#">Blog</a>
        </div>
        <div class="box__footer">
            <h2>COLABORACIONES</h2>
            <a href="#">Brokers</a>
            <a href="#">Propietarios</a>
            <a href="#">Recomiéndanos a alguien</a>
            <a href="#">Planificadores de eventos</a>
        </div>
        <div class="box__footer">
            <h2>SOPORTE</h2>
            <a href="#">Contacto</a>
            <a href="#">Member Login</a>
            <a href="#">Preguntas frecuentes</a>
            <a href="#">Respuesta ante la COVID-19</a>
        </div>
        </div>

        <div class="box_footer_2">
  <img src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-file-facebook-icon-svg-wikimedia-commons-4.png">
  <img src="https://astro.org.sv/wp-content/uploads/2019/03/logo-instagram.jpg">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/1245px-Twitter-logo.svg.png">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/600px-LinkedIn_logo_initials.png">

        </div>
    </div>

<h6>Todas las ubicaciones</h6>

<div class="container_datos">

<div class="dato_first">
<h6>+5491150978888</h6>
<h5>WeWork Companies LLC</h5>
<h5>75 Rockefeller Plaza</h5>
<h5>Floor 10</h5>
<h5>New York, New York 10019</h5>
</div>

<div class="dato_second">
<nav>
    <ul>
        <li>Privacidad</li>
        <li>Términos</li>
        <li>Politica de cookies</li>
        <li>Configuración de cookies</li>
        <li>Accesibilidad</li>
    </ul>
    <ul>
    <li class="map">mapa del sitio</li>
    </ul>
    <ul>
        <li class="ma">Copyright © 2023 WeWork. Todos los derechos reservados.</li>
        </ul>
</nav>
</div>

</div>

</footer>