<h4>EDIFICIOS CERCA DE TU UBICACIÓN</h4>
<div class="gallery_container">
  <div class="gallery_card">
    <p>4 Ubicaciones en Buenos Aires</p>
    <a href="https://www.wework.com/es-ES/search?slug=buenos-aires"
      >Ver todas las opciones en Buenos Aires   </a
    >
  </div>

  <div class="gallery_images">
    <div class="gallery">
      <img
        src="https://locations-api-production.imgix.net/locations/image/eb91668c-d33e-11ea-a9eb-0af92a8cff71/Web_150DPI-fschapochnik_216_wework_054_alta.jpg?auto=format%20compress&fit=crop&q=50&w=300&h=169"
      />
      <div class="gallery_p">
        <a href="">Corrientes 800</a>
        <p>Buenos Aires</p>
      </div>
    </div>

    <div class="gallery">
      <img
        src="https://locations-api-production.imgix.net/locations/image/13f6066a-2518-11ec-b4f6-0e6a5dc689cd/Web_150DPI-20210126_WeWork_Blas_Parera_3551_-_Buenos_Aires_020.jpg?auto=format%20compress&fit=crop&q=50&w=300&h=169"
      />
      <div class="gallery_p">
        <a href="">Blas Parera 3551</a>
        <p>Buenos Aires</p>
      </div>
    </div>

    <div class="gallery">
      <img
        src="https://locations-api-production.imgix.net/locations/image/7c5821de-83b7-11e9-a5a2-0ec6db7d2a3c/Web_150DPI-20190326_WeWork_Ingeniero_Enrique_Butty_275_-_Common_Areas_-_Wide.jpg?auto=format%20compress&fit=crop&q=50&w=300&h=169"
      />
      <div class="gallery_p">
        <a href="">Ing . Enrique Butty 275</a>
        <p>Buenos Aires</p>
      </div>
    </div>
  </div>
</div>

<div class="logos_container">
  <div class="logo_text">
    <h4>Empoderamos al mundo del mañana en el trabajo</h4>
    <p class="logo_p">
      Durante más de una década, hemos liderado el futuro del trabajo flexible.
      Desde trabajadores independientes hasta empresas Fortune 500, estamos
      ayudando a nuestros miembros a reimaginar la forma en que trabajan.
    </p>
  </div>

  <div class="logos">
    <div>
      <img
        src="https://ctfassets.imgix.net/vh7r69kgcki3/6RWiW6nRjE0Opu3rMrmyNA/46e4a7a7cec8a942949693ef532f6012/logo_microsoft.png?auto=format%20compress&fit=crop&q=50&w=100"
        alt="Microsoft"
      />
    </div>

    <div>
      <img
        src="https://ctfassets.imgix.net/vh7r69kgcki3/557AtRn8tgjcVnmrXM5dPK/c6cc549473c56a285007f57a57b4bd94/pfizer.png?auto=format%20compress&fit=crop&q=50&w=100"
        alt="Pfizer"
      />
    </div>

    <div>
      <img
        src="https://ctfassets.imgix.net/vh7r69kgcki3/6ucfeSUkXAQhX3LvdjHaL4/53586fbd893593b8ce3b2c3904160cd9/samsung.png?auto=format%20compress&fit=crop&q=50&w=100"
        alt="Samsung"
      />
    </div>

    <div>
      <img
        src="https://ctfassets.imgix.net/vh7r69kgcki3/4UwH80gQwn4Bzsgsppp6oc/fb1ddac85d9a2724a124114933713917/Salesforce_logo.png?auto=format%20compress&fit=crop&q=50&w=100"
        alt="Salesforce"
      />
    </div>

    <div>
      <img
        src="https://ctfassets.imgix.net/vh7r69kgcki3/3f7ZKaZZF7tSAQfCA7Zs8P/41ea5b9545b4f293661db6cf95c80d78/visa.png?auto=format%20compress&fit=crop&q=50&w=100"
        alt="Visa"
      />
    </div>

    <div>
      <img
        src="https://ctfassets.imgix.net/vh7r69kgcki3/2UDkm4Ldvxo5l1cdbNrGXn/8d4b43b9e9dd33b966b94304a130dc32/zoom.png?auto=format%20compress&fit=crop&q=50&w=100"
        alt="Zoom"
      />
    </div>
  </div>
</div>



<div class="h5">
  <h5>IDEAS BY WEWORK</h5>
  <h5>Tendencias y persepectivas de los espacios de trabajo</h5>
  <a href="">Sigue leyendo<img class="arrow" src="https://icones.pro/wp-content/uploads/2021/06/icone-fleche-droite-violet.png"> </a>

  <div class="container_aside_5">
    <div>
      <img
        src="https://ctfassets.imgix.net/vh7r69kgcki3/5UOT0oT5krYm9t37ixk9zy/548775ae2e1430481ca24cf38204cfaa/Web_72DPI-20200313_WeWork_Salesforce-Tower-Atrium-San-Francisco_001.jpg?auto=compress&fit=crop&q=50&fm=jpeg&w=750&h=422"
        alt="oficinas"
      />
    </div>

    <div class="texto_aside_5">
      <h2>ESTUDIOS DE INVESTIGACIÓN</h2>
      <p>La importancia de los espacios de oficina flexibles</p>
      <h6>
        Una encuesta de Cushman & Wakefield revela que las oficinas flexibles
        son un componente importante del ecosistema del espacio de trabajo.
      </h6>
    </div>
  </div>
</div>

<hr>

<div class="cards_3_container">

<div class="_card_3">
    <img src="https://ctfassets.imgix.net/vh7r69kgcki3/fmB4E8GeWAFzlAAwH7YJe/74d1c7ec6f88513f6cfe431b6c0ca211/WeWork_The-Wilson_7272-Wisconsin-Ave_Bethesda_4_header-scaled.jpg?auto=compress&fit=crop&q=50&fm=jpeg&w=450&h=253">
    <p>PRODUCTOS FLEXIBLES  -----------</p>
    <h2>Un espacio de trabajo de vanguardia cerca de Washington, D. C.</h2>
    <p>WeWork The Wilson está diseñado a medida para su comunidad local</p>
</div>

<div class="_card_3">
    <img src="https://ctfassets.imgix.net/vh7r69kgcki3/2lbHRv6oDxMnWDsuIPpd4Y/3fcc904abd7e9fcce1adb7a74bb71a9c/ElephantSkin_Miami_WeWork02_v1-800x450.jpg?auto=compress&fit=crop&q=50&fm=jpeg&w=450&h=253">
    <p>CASE STUDIES  -----------</p>
    <h2>How one rmeote creative agency want global, fast</h2>
    <p>Elephant Skin embraced remote work and office space at WeWork to create a global business</p>
</div>

<div class="_card_3">
    <img src="https://ctfassets.imgix.net/vh7r69kgcki3/4GkcQ3suRb1BFE94sKlW4c/8a323151d003ffa6cdc6c4db73307007/ATLAS_9385_EDIT_v1-1536x864.jpg?auto=compress&fit=crop&q=50&fm=jpeg&w=450&h=253">
    <p>CASOS PRACTICOS  -----------</p>
    <h2>Cómo cuatro fundadores usan WeWork All Access</h2>
    <p>Para estos fundadores, el espacio de trabajo ayuda a expandir su empresa y su cultura</p>
</div>

</div>