<main>
<div class="main_container">

<div class="card">
<h2>Para todas tus formas de trabajo, estamos  aquí</h2>
<p>Encuentra una ubicación cerca de ti. Explora las membresías y las oficinas listas para mudarse para particulares o empresas de todos los tamaños.</p>


<label for="pet-select">Encuentra espacio de trabajo en:</label>
<select name="pets" id="pet-select">
    <option value="">Buenos aires </option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
</select>

<button class="card_button">Comenzar</button>

</div>

</div>

</main>